$primary-color: #F48023;
$secondary-color: #838899;
// 003973 azul
// 141A33 morado
.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $primary-color;
    padding: 0px 57px;
    height: auto;


a.active{
    background: $secondary-color;
}

a{
    font-weight: 300;
    font-size: 15px;
    border-radius: 0px;
    color: white;
}

.nav-links{
    margin-right: 15px;
}

a.ant-btn{
    &:hover{
        color: white;
        background: $secondary-color;
    }
}

    .img{
        width: 180px;
    }

    .img_profile{
        width: 25px;
    }
}

.active-button{
    border-radius: 0px !important;
    padding: 2px 5px !important;
    background: $secondary-color;
}

.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $primary-color;
    padding: 0px;
}