
<div style="padding-top: 15px; background:linear-gradient(rgba(5,7,12,0.95), rgba(5,7,12,0.5));">
    <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...">
        <div class="parent">
            <div class="child">
                <div nz-row class="imgDiv">
                    <h2 style="margin-left: 170px">Reservation Request</h2>
                </div>

                <form nz-form [formGroup]="validateForm">
                    <div nz-row>

                        <div nz-col nzSpan="24" style="margin-top: 10px;">
                            <nz-form-item>
                                <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This input is required!">
                                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a Table Type" formControlName="tableType">
                                        <nz-option *ngFor="let table of TableType" nzLabel={{table}} nzValue={{table}}></nz-option>
                                    </nz-select>
                                
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div nz-col nzSpan="24">
                            <nz-form-item>
                                <nz-form-control nzHasFeedback>
                                    <nz-date-picker nzFormat="yyyy-MM-dd HH:mm" nzPlaceHolder="Select Date and Time" [nzShowTime]="{nzFormat: 'HH:mm'}" formControlName="dateTime">
                                    </nz-date-picker>
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div nz-col nzSpan="24">
                            <nz-form-item>
                                <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This input is Required!">
                                    <textarea rows="3" nz-input placeholder="Description" formControlName="description"></textarea>
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                    </div>

                    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" (click)="postReservation()">Sumbit</button>
                
                </form>


            </div>
        </div>
    
    </nz-spin>

</div>
